{% extends "base.html" %}

{% block breadcrumb %}
<nav class="breadcrumb">
    <ol class="breadcrumb-items">
        <li class="breadcrumb-item">
            <a href="{% url 'customers' %}" class="breadcrumb-link">
                Customers
            </a>
        </li>
        <li class="breadcrumb-item">
            Create
        </li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
    <main class="page customer">
        <div class="page-header">
            <h2 class="page-header-title">Create customer</h2>
        </div>

        <div class="card">
            <form class="form two-cols" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form col">
                    <div class="form-group form-group-md form-group-full">
                        <label class="form-label">First name</label>
                        <input type="text" class="form-control" name="first_name" placeholder="Ex: John" />
                    </div>
    
                    <div class="form-group form-group-md form-group-full">
                        <label class="form-label">Last name</label>
                        <input type="text" class="form-control" name="last_name" placeholder="Ex: Doe" />
                    </div>  
                </div>

                <div class="form col">
                    <div class="form-group form-group-md form-group-full">
                        <label class="form-label">E-mail address</label>
                        <input type="email" class="form-control" name="email" placeholder="Ex: example@gmail.com" />
                    </div>  
    
                    <div class="form-group form-group-md form-group-full">
                        <label class="form-label">Phone number</label>
                        <input type="text" class="form-control" name="phone" placeholder="Ex: (82) 99999-9999" />
                    </div>
                </div>

                <div class="form-group form-group-md form-group-full">
                    <label class="form-label">Description</label>
                    <textarea class="form-control" name="description" rows="4" cols="50"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="button button-primary button-md">Submit</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}