{% extends "base.html" %}

{% block breadcrumb %}
<nav class="breadcrumb">
    <ol class="breadcrumb-items">
        <li class="breadcrumb-item">Customers</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
    <main class="page customers">
        <div class="page-header">
            <h2 class="page-header-title">Customers</h2>
            <div class="page-header-buttons">
                <button
                    class="button button-primary-outline button-md"
                    onclick="location.href='{% url 'create' %}'"
                >
                    New customer
                </button>
            </div>
        </div>

        <div class="card">
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Customer</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Company</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in page_customers %}
                        <tr>
                            <td><a href="{% url 'customer' customer.id %}">
                                {{ customer.id }}
                            </a></td>
                            <td>
                                {{ customer.first_name }}
                                {{ customer.last_name }}
                            </td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.phone }}</td>
                            <td>{{ customer.company }}</td>
                            <td>
                                <div class="d-flex items-center gap-md">
                                    <button
                                        class="button button-primary-outline button-md"
                                        onclick="location.href='{% url 'update' customer.id %}'"
                                    >
                                        Update
                                    </button>
                                    <form action="{% url "delete" customer.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="button button-danger-outline button-md">
                                            Delete
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="table-pagination">
                    <span class="table-pagination-steps">
                        {% if page_customers.has_previous %}
                            <a class="table-pagination-link" href="?page=1&search={{ request.GET.search.strip }}">
                                &laquo; first
                            </a>
                            <a class="table-pagination-link" href="?page={{ page_customers.previous_page_number }}&search={{ request.GET.search.strip }}">
                                previous
                            </a>
                        {% endif %}
                
                        <span class="table-pagination-current-page">
                            Page {{ page_customers.number }} of {{ page_customers.paginator.num_pages }}.
                        </span>
                
                        {% if page_customers.has_next %}
                            <a class="table-pagination-link" href="?page={{ page_customers.next_page_number }}&search={{ request.GET.search.strip }}">
                                next
                            </a>
                            <a class="table-pagination-link" href="?page={{ page_customers.paginator.num_pages }}&search={{ request.GET.search.strip }}">
                                last &raquo;
                            </a>
                        {% endif %}
                    </span>
                </div>
                {% if not customers|length %}
                    <div class="table-empty-state">
                        <h4 class="table-empty-state-title">No customers found</h4>
                        <p class="table-empty-state-text">There are no customers to display here for now.</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock content %}
