{% load static compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    {% compress css %}
        <link type="text/x-scss" href="{% static 'scss/main.scss' %}" rel="stylesheet">
    {% endcompress %}
    <title>Base template</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div id="toastBar" class="toast {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    {% if request.path != '/register/' and request.path != '/login/' %}
        <nav id="navBar" class="navbar">
            <a class="navbar-brand" name="navbarBrand" href="{% url "index_customers" %}">
                <img src="https://static.djangoproject.com/img/logos/django-logo-negative.svg" alt="logo" width="64px" />
                <h2>CRM</h2>
            </a>
            <span class="navbar-vertical-divider">&nbsp;</span>
            <a role="button" class="navbar-toggler" name="navbarToggler">
                <span>&nbsp;</span>
                <span>&nbsp;</span>
                <span>&nbsp;</span>
            </a>
            <div class="navbar-menu">
                <ul class="navbar-menu-items">
                    <li class="navbar-menu-item">
                        <a class="navbar-link link-active">Customers</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a class="navbar-link">Contacts</a>
                    </li>
                    <li class="navbar-menu-item">
                        <a class="navbar-link">Dashboard</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-menu">
                <form class="search-form" action="{% url "search_customer" %}">
                    <fieldset class="search-field">
                        <input class="search-field-input"
                            type="text"
                            id="search"
                            placeholder="Search for customer or contact..."
                            name="search"
                            value="{{ request.GET.search.strip }}"
                        ></input>
                    </fieldset>
                </form>
            </div>

            <div class="navbar-menu menu-right">
                
                <ul class="navbar-menu-items">
                    {% if user.is_authenticated %}
                        <li class="navbar-menu-item dropdown">
                            <button class=" dropdown-toggle button button-primary button-md">
                                {{ user }} ▾
                            </button>
                            <ul class="dropdown-menu">
                                <li class="dropdown-menu-item">
                                    <a href="{% url 'update_user' %}">Update Profile</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a href="{% url 'update_user_password' %}">Update Password</a>
                                </li>
                                <li class="dropdown-menu-item">
                                    <a href="{% url 'user_logout' %}">Logout</a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="navbar-menu-item">
                            <button class="button button-primary button-md" onclick="location.href='{% url 'user_login' %}'">
                                Login
                            </button>
                        </li>
                        <li class="navbar-menu-item">
                            <button class="button button-primary button-md" onclick="location.href='{% url 'user_register' %}'">
                                Register
                            </button>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    {% endif %}

    {% block breadcrumb %}{% endblock breadcrumb %}
    {% block content %}{% endblock content %}

    {% if True %}
        <script src="{% static 'javascript/toast.js' %}"></script>
    {% endif %}

    {% block javascript %}{% endblock javascript %}
</body>
</html>