{% extends "base.html" %}
{% block breadcrumb %}
<nav class="breadcrumb">
    <ol class="breadcrumb-items">
        <li class="breadcrumb-item">
            <a href="#" class="breadcrumb-link">Customers</a>
        </li>
        <li class="breadcrumb-item">
            <a href="#" class="breadcrumb-link">John Doe</a>
        </li>
        <li class="breadcrumb-item">Edit</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
    <main class="customers-list">
        {% for customer in customers  %}
            <h4>
                {{ customer.first_name }}
                {{ customer.last_name }}
            </h4>
        {% endfor %}
    </main>
{% endblock content %}
