{% extends "base.html" %}
{% block breadcrumb %}
<nav class="breadcrumb">
    <ol class="breadcrumb-items">
        <li class="breadcrumb-item">Customers</li>
    </ol>
</nav>
{% endblock breadcrumb %}

{% block content %}
    <main class="customers">
        <div class="table">
            <table>
                <caption>Customers</caption>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Customer</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Company</th>
                    </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td><a href="{% url "customer" customer.id %}">
                            {{ customer.id }}
                        </a></td>
                        <td>
                            {{ customer.first_name }}
                            {{ customer.last_name }}
                        </td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.phone }}</td>
                        <td>{{ customer.company }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
