{% extends "base.html" %}

{% block content %}
    <main class="page small centered">
        <div class="card">
            <div class="page-header">
                <a class="page-header-brand centered" name="navbarBrand" href="{% url "customers" %}">
                    <img src="https://static.djangoproject.com/img/logos/django-logo-negative.svg" alt="logo" width="64px" />
                    <h2 class="dark">CRM</h2>
                </a>
            </div>

            <form class="form" action="{% url "user_register" %}" method="POST">
                {% csrf_token %}
                <div class="form-group form-group-md form-group-full {% if form.first_name.errors %}is-invalid{% endif %}">
                    <label for="{{ form.first_name.id_for_label }}">First name</label>
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>

                <div class="form-group form-group-md form-group-full {% if form.last_name.errors %}is-invalid{% endif %}">
                    <label for="{{ form.last_name.id_for_label }}">Last name</label>
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>

                <div class="form-group form-group-md form-group-full {% if form.email.errors %}is-invalid{% endif %}">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>

                <div class="form-group form-group-md form-group-full {% if form.username.errors %}is-invalid{% endif %}">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="form-group form-group-md form-group-full {% if form.password1.errors %}is-invalid{% endif %}">
                    <label for="{{ form.password1.id_for_label }}">Password</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>

                <div class="form-group form-group-md form-group-full {% if form.password2.errors %}is-invalid{% endif %}">
                    <label for="{{ form.password2.id_for_label }}">Password Comfirmation</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>

                <div class="form-group">
                    <button type="submit" class="button button-primary button-md block">Register</button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %}